@import 'portada.css';
@import 'informacion.css';
@import 'mision.css';
@import 'servicios.css';
@import 'productos.css';
@import 'contacto.css';
@import 'footer.css';

:root{
	--rosa: #ff008d;
	--azulC: #0090d6;
	--azulO: #292c97;
	--colorText: #838383;
}
body{
	font-family: 'Lato', system-ui;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

