:root{
	--rosa: #ff008d;
	--azulC: #0090d6;
	--azulO: #292c97;
	--colorText: #838383;
}
body{
	font-family: 'Lato', system-ui;
	margin: 0;
	padding: 0;
}
.Portada{
	padding-bottom: 5em;
	position: relative;
	& .videoContenedor{
		position: absolute;
		width: 100%;
		top: 0;
		right: 0;
		left: 0;
		z-index: -1;
		& video{
			min-width: 100%;
			min-height: 100%;

		}
	}
	& .header{
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-top: 1em;
		& .logo{
			width: 20%;
			& .img{
				width: 100%;
			}
		}
		& .menu{
			display: flex;
			list-style: none;
			& a{
				padding: 2em;
				text-decoration: none;
				font-size: 1.1rem;
				color: white;
			}
		}
	}
	& .copy{
		background: rgba(0,0,0,.8);
		width: 70%;
		border-radius: 5px;
		text-transform: uppercase;
		text-align: center;
		padding: 2em 0 4em 0;
		margin: 4em auto;
		& .title{
			color: var(--rosa);
			font-size: 3rem;
		}
		& .subtitle{
			color: var(--azulO);
			font-size: 2rem;
			margin-bottom: 2em;
			font-weight: normal;
		}
		& .btn{
			background: var(--azulO);
			color: white;
			text-decoration: none;
			padding: 1em 2em;
			border-radius: 15px;
			font-size: 1.1rem;
		}
	}
}
.Informacion{
	background: color(var(--azulC) a(90%));
	padding: 20em 10em 0 0 10em;
	text-align: center;
	width: 50%;
	clip-path: polygon(0 0, 100% 50%, 0 100%);
	position: absolute;
	top: 35%;
	height: 140%;
	box-sizing: border-box;
	& .descripcion{
		color: white;
		font-size: 1.2rem;
	}
}
.Mision{
	position: absolute;
	background: white;
	right: 0;
	width: 80%;
	clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
	height: 117%;
	top: 30%;
	box-sizing: border-box;
	padding-top: 17em;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 30em;
	color: var(--colorText);
	& .descripcion{
		margin-top: 0;
		width: 50%;
	}
	& .valores{
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: justify;
	}
}
.Servicios{
	height: 400px;
	margin-top: 25%;
	background: url(../img/fondo.jpg) center center no-repeat;
	background-size: cover;
	& .overlay{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.5);
		& .title{
			text-transform: uppercase;
			color: white;
			font-size: 4rem;
			font-weight: normal;
		}
	}
}
.Productos{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3em 0;
	& img{
		width: 100%;
	}
	& .item{
		margin-bottom: 3em;
		color: var(--colorText);
		width: 100%;
		padding: 1em 0;
		& .contenedor{
			display: grid;
			grid-template-columns: 1fr 1fr;
			width: 80%;
			margin: 0 auto;
		}
		& .informacion{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0 4em;
			& .title{
				text-transform: uppercase;
				font-size: 2rem;
				border-top: 1px solid var(--colorText);
				border-bottom: 1px solid var(--colorText);
				padding: .4em 0;
				margin: 0;
			}
			& .btn{
				color: var(--azulC);
				border: 3px solid var(--azulC);
				width: 100%;
				text-align: center;
				text-decoration: none;
				font-size: 1.5rem;
				text-transform: uppercase;
				padding: .5em;
			}
		}
	}
	& .item:nth-of-type(1), & .item:nth-of-type(3){
		background: #f3f3f3;
	}
}